// .custom-input-1-container {
//   display: flex;
//   width: 100%;
//   flex-direction: column;
//   align-items: flex-end;

//   label {
//     font-weight: 800;
//     color: #888888;
//     margin-bottom: 0.25rem;
//   }
//   .input-wrapper {
//     display: flex;
//     align-items: center;
//     border-radius: 0.5rem;
//     border: 1px solid #7c7c8b;
//     background-color: #1e1e2d;
//     padding: 0 0.5rem;
//     span {
//       color: #565674;
//       border-right: 1px solid;
//       height: 100%;
//       font-size: 1.5rem;

//   }    padding: 0.5rem 0;
//       padding-right: 0.5rem;
//       color: #777777;
//     }
//     i {
//       padding: 2px 5px;
//       color: #7c7c8b;
//     }
//     input {
//       font-weight: 400;
//       color: #777777;
//       background-color: transparent;
//       border: none;
//       text-align: right;
//       padding: 0.5rem 0;
//       font-size: 1.5rem;
//     }
// }

.custom-input-1-container {
  display: flex;

  label {
    font-weight: 500;
    font-size: 1.045rem;
    color: #888888;
    margin-bottom: 0.25rem;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #fff;
    width: 100%;

    input {
      font-weight: 400;
      color: #696969;
      background-color: transparent;
      border: none;
      text-align: right;
      font-size: 1rem;
      padding: 10px 16px;
      width: 100%;
    }
  }
}
