.property-detail {
  .fd-top {
    display: flex;
    padding: 35px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin-bottom: 20px;

    .text-start {
      text-align: right !important;
      .fd-address {
        margin: 0;
        margin-bottom: 25px;
        i {
          margin-right: 5px;
          color: #fe4e00;
        }
      }
    }

    .text-end {
      .fd-price {
        font-weight: 500;
        font-size: 20px;
      }
      .flat-detail-title {
        font-weight: 600;
        margin-bottom: 25px;
        font-size: 26px;
      }
    }
  }

  .fd-item,
  .fd-sidebar-item {
    background: white;
    padding: 35px 25px;
    line-height: 1.5rem;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    h4 {
      font-weight: bold;
      margin-bottom: 35px;
      font-size: 20px;
      text-align: center;
    }
  }

  .fd-property-detail {
    i {
      color: #fe4e00;
    }
  }

  .fd-features {
    i {
      color: #339476;
    }
  }

  .profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      width: 10rem;
      border-radius: 50%;
      padding: 10px;
      // background-color: #bc8e10;
      border: 1px solid #588157;
    }
    .profileText {
      margin-top: 10px;
      background-color: #a3b18a;
      padding: 8px;
      border-radius: 10px;
      font-weight: 700;
    }
    .profilePhoneNumber {
      margin-top: 10px;
      background-color: #a3b18a;
      padding: 5px;
      border-radius: 10px;
      font-size: 13px;
      font-weight: 500;
    }
  }

  .recently-item {
    margin: 23px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in;
    &:hover {
      .imageContainer {
        .hiddenContainer {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .imageContainer {
      position: relative;

      img {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
        overflow: hidden;
        transition: 0.5s;
        border-radius: 10px;
      }
      .hiddenContainer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(59, 53, 53, 50%);
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s;
        transition: visibility 0.2s, opacity 0.5s;
        .recently-title {
          font-weight: 800;
          font-size: 18px;
          color: white;
          margin-bottom: 14px;
          text-align: center;
        }
        .recently-price {
          font-weight: 500;
          font-size: 16px;
          color: white;
        }
      }
    }

    .property-detail {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 5px;
      .product-detail {
        a {
          text-decoration: none;
          color: #393e41;
          &:hover {
            color: #a3b18a;
          }
        }
        i {
          color: #fe4e00;
        }
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .fd-top {
      .text-start {
        .fd-address {
          font-size: 0.8rem;
        }
      }
      .text-end {
        .fd-price {
          font-size: 0.9rem;
        }
        .flat-detail-title {
          font-size: 1rem;
        }
      }
    }
  }
  // @media only screen and (min-width: 768px) and (max-width: 991px) {

  // }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .recently-item {
      flex-direction: column;
      .property-detail {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        .product-detail {
          width: 33%;
          a {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .product-detail {
      a {
        font-size: 0.7rem;
      }
    }
  }
}
