.property-detail {
  .fd-top {
    display: flex;
    padding: 35px;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin-bottom: 20px;
    .flat-detail-title {
      font-weight: 600;
      margin-bottom: 25px;
      font-size: 26px;
    }
    .fd-price {
      font-weight: 500;
      font-size: 20px;
    }
    .fd-address {
      margin: 0;
      margin-bottom: 25px;
      i {
        margin-right: 5px;
      }
    }
  }

  .fd-item,
  .fd-sidebar-item {
    background: white;
    padding: 35px 25px;
    line-height: 1.5rem;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    h4 {
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 20px;
      text-align: center;
    }
  }

  .fd-property-detail {
    i {
      color: #bc8e10;
    }
  }

  .fd-features {
    i {
      color: #339476;
    }
  }

  .recently-item {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    .imageContainer {
      position: relative;
      img {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 10px;
      }
      .hiddenContainer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        background-color: rgba(59, 53, 53, 50%);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          font-weight: 800;
          font-size: 18px;
          color: white;
          margin: 14px 0;
        }
      }
    }

    .property-detail {
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 5px;
    }
    a {
      text-decoration: none;
      color: #393e41;
      &:hover {
        color: #f1c95b;
      }
    }
    i {
      color: #bc8e10;
    }
    span {
      font-weight: 600;
      color: #bc8e10;
    }
  }

  .image-gallery {
    .image-gallery-image {
      max-width: fit-content;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .image-gallery-slides {
      padding-bottom: 12px;
    }
    .image-gallery-bullets {
      .image-gallery-bullet.active {
        background-color: #f1c95b;
        border: 1px solid #bc8e10;
        &:hover {
          background-color: #bc8e10;
          border: 1px solid #f1c95b;
        }
      }
      .image-gallery-bullet {
        border: 1px solid #f1c95b;
        &:hover {
          background-color: #bc8e10;
        }
      }
    }
    .image-gallery-thumbnail.active {
      border: none;
      opacity: 50%;
    }

    .image-gallery-thumbnail {
      &:hover {
        border: 2px dashed #bc8e10;
        border-radius: 10px;
      }
      .image-gallery-thumbnail-image {
        height: 60px;
        border-radius: 10px;
      }
    }
    .image-gallery-icon:hover {
      color: #bc8e10;
    }
  }
}
