#search-and-filter-container {
  .nav-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    button {
      margin: 0 0.5rem;
      padding: 0.3rem 0.7rem;
      border-radius: 0.5rem;
      transition: all 0.2s ease-in;
      font-weight: 600;
      border: none;
      &:hover {
        background-color: dodgerblue;
        color: #ffffff;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .nav-buttons-container {
      flex-direction: column;
      
    }
  }
}
