.custom-checkBox-1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  label {
    margin-right: 8px;
    cursor: pointer;
  }
  input{
    cursor: pointer;
  }
  }

