.header {
  background-color: #f7f7f7;
  line-height: 2rem;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  padding: 0;
}

.nav-item {
  position: relative;
  padding: 15px 2px;
  cursor: pointer;
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
  width: 7rem;
  color: #27282e;
  text-align: center;
  border-radius: 10px;
  &:hover {
    background-color: #bc8e10;
    color: whitesmoke;
  }
}

.nav-item:hover .sub-ul {
  display: block;
  cursor: pointer;
}

.nav-item .fa-chevron-down {
  font-size: 14px;
}

.sub-ul li:hover {
  background: #ebb51e;
  color: #364465;
  border-radius: 5px;
}

.header .sub-ul {
  background: white;
  position: absolute;
  display: none;
  padding: 0;
  width: 190px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  top: 79px;
  box-shadow: 0 0 18px rgb(0 0 0 / 38%);
  z-index: 10;
}

.sub-ul li {
  list-style: none;
  font-weight: 600;
  padding: 5px 15px;
  font-size: 14px;
  text-align: center;
}

.sub-ul a {
  color: inherit;
  text-decoration: none;
}

.phoneIcon {
  font-size: 1.2rem;
  width: 140px;
  height: 30px;
  line-height: 30px;
  border-radius: 13px;
  margin: 10px 12px;
  text-decoration: none;
  &::after {
    border-radius: 13px;
  }
}

.socialIcon {
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  margin: 10px 6px;
  &::after {
    border-radius: 50%;
  }
}

.socialIcon,
.phoneIcon {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: relative;
  color: #393e41;
  background-color: #f1c95b;
  transition: 300ms;
  &:hover {
    background-color: #bc8e10;
    color: #f7f7f7;
  }
  &:hover::after {
    opacity: 1;
    transform: scale(1.15);
  }
  &::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-sizing: border-box;
    box-shadow: 0 0 0 3px #d7ac36;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }
}
