.formContainer {
  width: 100%;
  padding: 40px;
  .headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    .showNumber {
      font-size: 1.5rem;
      color: #A3B18A;
      font-weight: 600;
    }
    .backButton {
      margin-right: 10px;
      font-size: 20px;
      font-weight: 500;
      color: #393e418f;
      padding: 7px;
      border-radius: 50%;
      transition: all 0.2s ease-in;
      cursor: pointer;
      &:hover {
        color: #588157;
      }
    }
  }
  .formLabel {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .description {
    font-size: 12px;
    color: #696969;
  }
  .formField {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    height: 58px;
    margin: 15px 0;
  }
  .inputContainer {
    border: 1px solid silver;
  }
  .uncompleted {
    border: 2px solid #fe4e00;
  }

  .inputContainer,
  .uncompleted {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 10px;

    .input-wrapper {
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      color: #777777;
      width: 100%;

      .inputTStyle {
        color: #565674;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: right;
        font-size: 14px;
        padding: 10px;
        border-left: 1px solid silver;
        width: 25%;
      }

      .fa-mobile-screen-button,
      .fa-barcode-read,
      .fa-key,
      .fa-users,
      .fa-user {
        padding: 2px 5px;
        color: #7c7c8b;
        font-size: 20px;
        color: #DAD7CD  ;
      }
      .formInput {
        font-weight: 400;
        color: #777777;
        background-color: transparent;
        border: none;
        text-align: center;
        height: 100%;
        width: 75%;
      }

      .formInput:focus {
        outline: none;
      }
    }
  }
  .errorText {
    height: 10px;
    text-align: right;
    margin-top: 5px;
    width: fit-content;
    font-size: 0.7rem;
    color: #fe4e00;
    line-height: 10px;
    padding: 2px 3px;
    border-radius: 3px;
  }

  .notReceiveContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .formButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .registerButton {
      background-color: #445522;
      padding: 10px 65px;
      color: #ffff;
      border-radius: 20px;
      border: none;
      font-size: 0.875rem;
      font-weight: 700;
      transition: all 0.2s ease-in;
      cursor: pointer;
      &:hover {
        background-color: #A3B18A;
        color: #393e41;
      }
      &:focus {
        outline: none;
      }
    }
    .sendButton {
      font-size: 12px;
      border: none;
      border-radius: 20px;
      padding: 5px 15px;
      margin-top: 6px;
      transition: all 0.2s ease-in;
      &:hover {
        background-color: #fe4e00;
        color: white;
      }
    }
  }
}
