#custom-dropdown-2 {
  position: relative;
  .titleButton {
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 100%;
    border: 1px solid silver;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;

    .dd-button {
      cursor: pointer;
    }
    i {
      margin-right: 0.5rem;
    }
    .externalTitle {
      margin-left: 0.5rem;
      cursor: default;
    }
  }
  .dd-body {
    position: absolute;
    z-index: 1000;
    top: 3.3rem;
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 90%;
    border: 1px solid silver;
  }
}
