#custom-dropdown-2 {
  position: relative;
  margin: 0 0.5rem;

  @media screen and (max-width: 768px) {
    #custom-dropdown-2 {
      margin: 0.5rem 0;
    }
  }
  .titleButton {
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: dodgerblue;
    }
    .dd-button {
      cursor: pointer;
    }
    i {
      color: #dad7cd;
    }
    .internalTitle {
      margin-right: 0.5rem;
    }
    .externalTitle {
      margin-left: 0.5rem;
      cursor: default;
    }
  }
  .dd-body {
    position: absolute;
    z-index: 1000;
    top: 3.3rem;
    background-color: #fff;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid silver;
  }
}
