#tableHeader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #1e1e2d;
  padding: 0.3rem 2.5rem;

  .headerDirection {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.5rem;
    font-size: 0.9rem;
    color: #ffffff;
  }

  .humbuggerButton {
    display: none;
    color: #ffffff;
    cursor: pointer;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 0.6rem;
  }
  @media screen and (max-width: 768px) {
    .desktopMood {
      display: none;
    }
    .humbuggerButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem;
    }
  }
}
